<a href="https://colab.research.google.com/github/srita2003/ML_Practicals/blob/main/ML_prac2ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import necessary libraries
import pandas as pd

In [ ]:
input_file_path = '/content/Online Sales Data.csv'  # Input CSV file path
output_file_path = '/content/updated_sales_data.csv'  # Output CSV file path

In [ ]:
# Step 1: Import data from CSV
sales_data = pd.read_csv(input_file_path)
print("Data imported successfully!")
print("\nInitial Data Preview:\n", sales_data.head())

Data imported successfully!

Initial Data Preview:
    Transaction ID        Date Product Category             Product Name  \
0           10001  2024-01-01      Electronics            iPhone 14 Pro
1           10002  2024-01-02  Home Appliances         Dyson V11 Vacuum
2           10003  2024-01-03         Clothing         Levi's 501 Jeans
3           10004  2024-01-04            Books        The Da Vinci Code
4           10005  2024-01-05  Beauty Products  Neutrogena Skincare Set

   Units Sold  Unit Price  Total Revenue         Region Payment Method
0           2      999.99        1999.98  North America    Credit Card
1           1      499.99         499.99         Europe         PayPal
2           3       69.99         209.97           Asia     Debit Card
3           4       15.99          63.96  North America    Credit Card
4           1       89.99          89.99         Europe         PayPal

In [ ]:
sales_data.isnull().sum()

Transaction ID      0
Date                0
Product Category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      0
Sales Tax           0
Total Sales         0
dtype: int64

In [ ]:
# Step 2: Perform basic data cleaning and modification
# Adding a new column for sales tax (assuming a flat tax rate of 10%)
sales_data['Sales Tax'] = sales_data['Total Revenue'] * 0.10
sales_data['Total Sales'] = sales_data['Total Revenue'] + sales_data['Sales Tax']
print("\nData after adding Sales Tax and Total Sales columns:\n", sales_data.head())

Data after adding Sales Tax and Total Sales columns:
    Transaction ID        Date Product Category             Product Name  \
0           10001  2024-01-01      Electronics            iPhone 14 Pro
1           10002  2024-01-02  Home Appliances         Dyson V11 Vacuum
2           10003  2024-01-03         Clothing         Levi's 501 Jeans
3           10004  2024-01-04            Books        The Da Vinci Code
4           10005  2024-01-05  Beauty Products  Neutrogena Skincare Set

   Units Sold  Unit Price  Total Revenue         Region Payment Method  \
0           2      999.99        1999.98  North America    Credit Card
1           1      499.99         499.99         Europe         PayPal
2           3       69.99         209.97           Asia     Debit Card
3           4       15.99          63.96  North America    Credit Card
4           1       89.99          89.99         Europe         PayPal

   Sales Tax  Total Sales
0    199.998     2199.978
1     49.999      549.989
2     20.997      230.967
3      6.396       70.356
4      8.999       98.989

In [ ]:
# Step 3: Export the updated DataFrame to a new CSV file
sales_data.to_csv(output_file_path, index=False)
print(f"\nUpdated data exported successfully to {output_file_path}")

Updated data exported successfully to /content/updated_sales_data.csv